ul.menu li {
    display: inline;
    margin: 2px;
}

body{
    background: url(prev.jpg) !important;
}

@media screen and (max-width: 1024px) {
    body{
        background: url(prev.jpg);
    }
    html{
        background-color: burlywood;
    }
}

a {
    color: #008000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: blueviolet; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: red; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }

ul.menu {
    float: right;
}
a {
    text-decoration:none;
    color: blueviolet;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}

.header {
    text-align: left;
    color: red;
    margin: 2px;
}

hr {
    border-color: blueviolet;
}


body{
    color: white; 
}

.content:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.content{
    margin: 30px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
}

.spisok{
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.futer{
    text-align: center;
    list-style-type: none;
}

.stranichka{
    text-align: center;

}