{% extends "base.html" %}
{% block content %}
    <div class="spisok">
        Для оплаты пожалуйста перейдите по ссылке ниже: <br><br><br>
        <img src="https://sun9-11.userapi.com/impf/m-UKDVn3n0O3epOT-DKFblYFVYZg_yrhjj3nTg/uOlkNW_TSeY.jpg?size=351x343&quality=96&sign=66b125ad88fcd8716009855f1fa7b3ff&type=album" width="320" height="350">
        <br>
        <button type="button" class="btn btn-outline-warning">
            <a href="https://oplata.qiwi.com/form?invoiceUid=383a0c6f-2165-4fee-81f2-2aa0c5ac826f"> Купить 3500 руб</a>
        </button>
    </div>
{% endblock %}